@use "../../index.scss" as *;

.card {
  border-radius: 0 !important;
  box-shadow: none !important;
  border: 1px solid $gray;
  display: flex;
  gap: 1.5rem;
  padding: 0.75rem;

  .image {
    height: 6rem;
  }

  .imagePlaceholder {
    width: 8.125rem;
    height: 6rem;
    background-color: $gray;
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 !important;

    h6 {
      font-weight: 700;
      font-size: 1.125rem;
    }

    a {
      text-decoration: none;
      color: $primary-color;
      font-size: 0.875rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
