@use "../../index.scss" as *;

.homepage {
  max-width: 90rem;
  margin: 0 auto;

  .homepageWrapper {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: minmax(0, 25rem) minmax(0, 1fr);
    gap: 1.5rem;

    .carsList {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }
  }
}
